<div class="row">
	<div class="col-md-4">
		<%= form_for @classroom, validate: true do |c| %>
			<div class="form-group">
				<label for="name">
					<%= Classroom.human_attribute_name(:estudante) %>
				</label>
				<%= c.collection_select(:student_id, Student.all, :id, :name,  { prompt: true }, { :class => 'form-control' } )%>
			</div>
			<div class="form-group">
				<label for="course">
					<%= Classroom.human_attribute_name(:course) %>
				</label>
				<%= c.collection_select(:course_id, Course.all, :id, :name, { prompt: true }, { :class => "form-control", validate: true } ) %>
			</div>
			<%= c.submit %>
		<% end %>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>
