<div class="row">
	<div class="col-md-4">
		<%= form_for @student do |s| %>
			<div class="form-group">

				<label for="name">
					Name
				</label>
				<%= s.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">

				<label for="registerNumber">
					Register Number
				</label>
				<%= s.text_field :register_number, class: "form-control" %>
			</div>
			<div class="form-group">

				<label for="registerNumber">
				<%= t('.status') %>
				</label>
				<%= s.text_field :status, class: "form-control" %>
			</div>
			<%= s.submit %>
		<% end %>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>
