<div class="row">
	<div class="col-md-4">
		<%= form_for @course do |c| %>
			<div class="form-group">

				<label for="name">
					Name
				</label>
				<%= c.text_field :name, class: "form-control" %>
			</div>
			<div class="form-group">

				<label for="registerNumber">
					Description
				</label>
				<%= c.text_area :description, class: "form-control" %>
			</div>
			<div class="form-group">

				<label for="registerNumber">
				<%= t('.status') %>
				</label>
				<%= c.text_field :status, class: "form-control" %>
			</div>
			<%= c.submit %>
		<% end %>
	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
	</div>
</div>
