<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ProficiencyTest</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
              </button> <a class="navbar-brand" href="<%= root_path %>"><%= t('helpers.links.index')%></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <a href="<%= students_path %>"><%= Student.model_name.human.pluralize.titleize %></a>
                </li>
                <li>
                  <a href="<%= courses_path %>"><%= Course.model_name.human.pluralize.titleize %></a>
                </li>
                <li>
                  <a href="<%= classrooms_path %>"><%= Classroom.model_name.human.pluralize.titleize %></a>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
            </div>
          </nav>
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
